<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.4.292</string>
	<key>CFBundleSignature</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>292</string>
	<key>IMSDKCrashReporterEnable</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The video cloud TRTC needs access to your media library to get music, if you don’t allow it, you can’t add music</string>
	<key>NSCameraUsageDescription</key>
	<string>The video cloud TRTC needs access to your camera permissions, and the video recorded after opening will have a picture</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The video cloud TRTC needs access to your microphone permissions, and the video recorded after opening will have sound</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The video cloud TRTC needs permission to access your album, and the edited file can be saved only after opening</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The Video Cloud Toolkit requires access to your album permissions before you can edit video files</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
